$delay: 3.5s;
#title-wrapper {
  line-height: 0.85;
}

#main {
  opacity: 0;
  animation:
    fall-in 2.5s cubic-bezier(0.25, 1, 0.33, 1) $delay * 1.75 forwards,
    opacity75 3.5s ease-in-out $delay * 1.75 forwards;
}

#aside {
  #title-wrapper {
    line-height: 0.85;

    #name {
      .char {
        transform: translateY(-300%);

        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            animation:
              fall-in 0.66s ease-in-out 0.033s * $i forwards,
              opacity100 3s ease-in-out 0.033s * $i forwards;
          }
        }
      }
    }

    #title {
      .char {
        opacity: 0;

        @for $i from 1 through 19 {
          &:nth-child(#{$i}) {
            animation:
              slide-up 0.66s ease-in-out 0.033s * $i forwards,
              opacity75 3s ease-in-out 0.033s * $i forwards;
          }
        }
      }
    }

    #blurb {
      .word {
        opacity: 0;

        @for $i from 1 through 11 {
          &:nth-child(#{$i}) {
            animation:
              slide-up 0.75s ease-in-out $delay / 3 + 0.15s * $i forwards,
              pop-in 0.75s ease-in-out $delay / 3 + 0.15s * $i forwards,
              opacity50 3s ease-in-out $delay / 3 + 0.15s * $i forwards;
          }
        }
      }
    }
  }

  #nav {
    li {
      @for $li from 1 through 5 {
        &:nth-child(#{$li}) {
          .char {
            opacity: 0;

            @for $i from 1 through 20 {
              &:nth-child(#{$i}) {
                animation: opacity50
                  3s
                  ease-in-out
                  $delay *
                  (1 + (0.05 * $li)) +
                  0.05s *
                  $i
                  forwards;
              }
            }
          }
        }
      }

      // &:hover {
      //   .char {
      //     opacity: 100%;
      //   }
      // }
    }
  }

  #links-wrapper {
    li {
      opacity: 0;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation: opacity50
            3s
            ease-in-out
            $delay *
            1.25 +
            0.15s *
            $i
            forwards;
        }
      }
    }
  }

  #email {
    .char {
      opacity: 0;

      @for $i from 1 through 16 {
        &:nth-child(#{$i}) {
          animation: opacity75
            4s
            ease-in-out
            $delay *
            1.35 +
            0.05s *
            $i
            forwards;
        }
      }
    }
  }
}

@keyframes fall-in {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes pop-in {
  0% {
    scale: 0;
  }
  90% {
    scale: 1.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity50 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
  }
}

@keyframes opacity65 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 65%;
  }
}

@keyframes opacity75 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 75%;
  }
}

@keyframes opacity100 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
